<% if model.api_errors.present? %>
  <div id='error_explanation' class="text-danger">
    <ul>
      <% model.api_errors.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
