<div class="container">
  <br />
  <div class="border border-info rounded bg-light px-4">
    <br /><br />
    <h2><%= t(:thank_you) %></h2>
    <br />

    <h4><%= I18n.t(:thank_you_message) %> </h4>
    <br />
    <p><%= link_to 'Back', root_path %></p>
  </div>
</div>
